{% extends "basic.html" %}
{% load static %}
{% block title %}Wishlist{% endblock %}
<!--   navbar ends here-->
{% block body %}
<div style="font-family:Anton; text-align:center;">
    {% if request.user.is_authenticated %}
        {% if wish.items.all %}
            <div class="container my-4">
                <h4>FAVOURITES</h4>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 text-start mt-4">
                    {% for item in wish.items.all %}
                    <div class="col">
                        {% with is_wishlist_page=True prod=item.prod item_id=item.id %}
                            {% include 'includes/product_card.html' %}
                        {% endwith %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-md-8 text-center py-5">
                <img src="{% static 'shop/empty_bag.jpg' %}" class="img-fluid mb-4" style="max-height: 200px;" alt="Empty Wishlist">
                <h3 style="font-family:Anton; color:#FF647F;">You Don't Have Any Favourites Yet!</h3>
                <a href="{% url 'index' %}" class="btn btn-primary mt-3" style="background-color: #FF647F; border:0;">Continue Shopping</a>
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-8 text-center py-5">
            <img src="{% static 'shop/empty_bag.jpg' %}" class="img-fluid mb-4" style="max-height: 200px;" alt="Empty Wishlist">
            <h3 style="font-family:Anton; color:#FF647F;">You Don't Have Any Favourites Yet!</h3>
            <h5 class="text-muted mt-3">Login to view your favourites or start shopping</h5>
            <a href="{% url 'signup' %}" class="btn btn-primary mt-3" style="background-color: #FF647F; border:0;">Login / Signup</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block js %}{% endblock %}